*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border-style: none;
    border-radius: 10px;
    padding: 12px;
    width: fit-content;
    font-weight: bold;
}

.root-top-section {
    display: flex;
}

.root-top-section .empty-left,
.root-top-section .empty-right {
    background-color: #1F2937;
}

.empty-left,
.empty-right {
    flex: 1;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 128px;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.top-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    flex-basis: 50%;
}

.right {
    display: flex;
    flex: 1;
}

.image-placeholder {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    flex: 1;
}

.cta {
    background-color: #3882F6;
    color: #F9FAF8;
}

.root-mid-section {
   display: flex;
   justify-content: center;
}

.mid-section {
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustrations div {
    width: 250px;
    height: 250px;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.illustrations p {
    text-align: center;
}

.mid-information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}